name: AbuBatta-Final
on:
  workflow_dispatch:
jobs:
  start-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Check Python
        run: python3 --version
      - name: Install Bot
        run: pip install freqtrade
      - name: Success Message
        run: echo "السيرفر اشتغل يا محمد مبروك!"
