name: Run-Bot-VPS
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install and Run
        run: |
          git clone https://github.com/freqtrade/freqtrade.git
          cd freqtrade
          pip install -e .
          # أمر تشغيل تجريبي عشان نتأكد إن السيرفر تمام
          freqtrade new-config --config config.json --non-interactive
          freqtrade trade --config config.json --strategy SampleStrategy --dry-run

