name: AbuBatta-Live-Bot
on:
  workflow_dispatch:
jobs:
  trade:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential wget
          wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz
          tar -xzf ta-lib-0.4.0-src.tar.gz
          cd ta-lib/
          ./configure --prefix=/usr
          make
          sudo make install
      - name: Install Freqtrade and TA-Lib wrapper
        run: |
          pip install --upgrade pip
          pip install TA-Lib
          pip install freqtrade
      - name: Run Bot
        run: |
          freqtrade trade --config config.json --strategy SampleStrategy --dry-run

