name: AbuBatta-Live-Bot
on:
  workflow_dispatch:
jobs:
  test_run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Check System
        run: |
          echo "Checking system status..."
          python --version
          echo "System is Ready!"
